*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}

.container .heading {
    width: 30%;
    padding-bottom: 100px;
}

.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.container .heading .pfp{
    width: 25%;
    margin-bottom: 20px;
    border-radius: 50%;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .art{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .art img{
    width: 100%;
    padding-bottom: 15px;
    
}

.container .button {
    margin: 40px 0px 70px 0px;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.container .button a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing:3px;
}

@media (max-width: 769px) {
    .container .box {
        flex-direction: column;
    }

    .container .box  .art {
        width: 100%;
    }

    .container .heading {
        width: 100%;
    }

    .container .heading h3 {
        font-size: 2em;
    }

}